html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*=====================================START=============================================*/
html, body{
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}


.marj_top {
    margin-top: 25px !important;
}

.marj_bottom {
    margin-bottom: 15px;
}

.img_w {
    width: 40px;
}

.img_w_h {
    height: 225px;
    width: 100%;
}

.bg_color {
    background-color: #35383A !important;
    border-color: #35383A !important;

}

.bg_color:hover {
    background-color: #565B61 !important;
}

.container-fluid {
    padding: 0 !important;
}

.shadow {
    -webkit-box-shadow: 14px -1px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px -1px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 14px -1px 20px -4px rgba(0, 0, 0, 0.75);
}

.action{
    min-height: 100px!important;
}

.jumbotron{
 background-image: url("Bootstrap/image/actions.png");
    background-repeat: no-repeat;
    background-size: cover;
   min-height: 400px;

}

@media (min-width: 576px) and (max-width: 767.98px){
    .jumbotron{
        background-repeat: round;
        min-height: 340px;
    }
}

@media (max-width: 575.98px) {
    .jumbotron{
        background-repeat: round;
        min-height: 340px;
    }
}


.title_botron{
   padding-top:100px;
    margin-left: 20%;

}

h1{

    font-weight: 600!important;
}

.bread_c{
    background-color: #fff!important;
}

/*=====================================SITEBAR==================================================================*/


.sitebar{
    position: absolute;
    left: 0;
    width: 300px;
}


@media (min-width: 768px) and (max-width: 991.98px){
    .list-group{
        display: none!important;
    }
    .sitebar{
        display: none!important;
    }
    .list-group-item:first-child{
        display: none!important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .list-group{
        display: none!important;
    }
    .sitebar{
       display: none!important;
    }
    .list-group-item:first-child{
        display: none!important;
    }
}

@media (max-width: 575.98px){
    .list-group{
        display: none!important;
    }
    .sitebar{
        display: none!important;
    }
    .list-group-item:first-child{
        display: none!important;
    }
}


/*=============================NUM-PAGE==========================================================================*/


.active_num{
    border-color: #35383A!important;
    background-color: #35383A!important;
}

.active_num:hover{
background-color: #565B61!important;
}

.num{
    margin-top: 15px;
}

.num_mob{
    display: none;
}

.num_color{
    color: black!important;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .num{
        display: none;
    }

    .num_mob{
        margin-top: 10px;
        display: block;
    }
}

@media (max-width: 575.98px){
    .num{
        display: none;
    }

    .num_mob{
        margin-top: 10px;
        display: block;
    }
}





/*=====================================FOOTER================================================================*/

footer{
    margin-top: 50px!important;
}

.footer_menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;

}

.foot{
    display: flex;
    flex-direction: column;

}

.foot_title{
    color: #fff;
    font-size: 18px;
    font-weight: 400;

}

.foot a{
    color: #565B61;
    text-decoration: none;
}

.foot a:hover{
    color: #848484;
    text-decoration: none;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .footer_menu{
        flex-direction: column;
    }
}

@media (max-width: 575.98px){
    .footer_menu{
        /*flex-direction: column;*/
        justify-content: space-around;
    }
}

/*===========================================PAGE-CAT====================================================*/

.bread_a{
    text-decoration: none;
    color: #35383A;
}

.bread_a:hover{
    text-decoration: none;
    color: #565B61;
}

.image_w_h {
    width: 500px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 10px;
}

@media (min-width: 576px) and (max-width: 767.98px){
    .image_w_h {
        width:100%;
        height: auto;

    }
}

@media (max-width: 575.98px){
    .image_w_h {
        width: 100%;
        height: auto;

    }
}

.main_content{
    margin-bottom: 50px;
}

.main_content p{
    color: #35383A;

}


.info_tabs{

width: 100%;
    display: block;
    margin: 0 auto;
    padding: 15px;



}
.info_tabs ul {

    justify-content: center;
}


.nav-link{
    color: #35383A;

}

.main{
    margin-bottom: 20px;
}